html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

#invisible-link {
  position: absolute;
  left:75%;
  top:70%;
  width:30%;
  height:20%;
}

#invisible-link a {
  display: block;
  width: 100%;
  height: 100%;;
}